/* Hide search button from article-header-buttons
Removing `search_bar_text` from 
`html_theme_options` in conf.py doesn't work */
.article-header-buttons .search-button {
    display: none;
}

/* Hide the search wrapper window when hitting Ctrl+K */
.search-button__wrapper.show {
    display: none !important;
}

/* Make sure Algolia's search container is always on top */
.bd-article-container {
    z-index: 10;
}